<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="shortcut icon" href="http://www.initialsgames.com/favicon.ico">
<link rel="icon" type="image/ico" href="http://www.initialsgames.com/favicon.ico">
<link href="style.css" rel="stylesheet" type="text/css">

<style type="text/css">

a:link {color:#6b6c7a;}    /* unvisited link */
a:visited {color:#6b6c7a;} /* visited link */
a:hover {color:#FFFFFF;}   /* mouse over link */
a:active {color:#000000;}  /* selected link */

<!--

a {text-decoration: none; }

-->
</style> 
<title>Initials</title>

</head>
<body bgcolor="#addbe4">
<span id="mainContainer" style="color: #7F7F7F;"><font face="Helvetica, Arial" font="" size="3">
<br>
<br>

<!--
<a href="http://www.initialscommand.com/main/" target="_top">
<img src="punx.png" alt="InitialsLogo Video Games Retro Video Games 8-bit">
</a>
-->

<br>

<a class="myButtonLink" href="http://www.initialsgames.com/main/">Punx</a>


<br>

<a href="http://www.initialsgames.com/main/"><b>Initials Video Games</b></a>

<br>
<br>
send enquiries to <a href="mailto:initials@initialsgames.com">initials@initialsgames.com</a>
<br>
<br>
<br>
<div id="text-place">



