body { 
text-align:center; 
vertical-align: center;
/* This is your BG color!*/
background-color: 	#1100ff;
/* This is your TEXT color!*/
color: #7F7F7F;


} 

/* Links! */

a {
	color: 				#E56Cff;
	text-decoration: 	none;
	
}
a:link {color:#E56C60;}      /* unvisited link */
a:visited {color:#E56C60;}  /* visited link */
a:hover {color:#ffffff;}  /* mouse over link */
a:active {color:#E56C60;}  /* selected link */




#mainContainer { 
margin:0 auto; 
vertical-align: center;
background-color: 	#11FF11;
}

#text-place {
	width: 				600px;
	margin: 			0 auto 20px auto;
	#background-color: 	#FF00FF;

	padding: 			25px 25px 25px 25px;
}

.myButtonLink {
	display: block;
	width: 75px;
	height: 168px;
	background: url('punx.png') bottom;
	text-indent: -99999px;
	margin:0 auto; 

}
.myButtonLink:hover {
	background-position: 0 0;
	margin:0 auto; 

}